
/* common style */
.btnStyle {
  background-color: #797DFC;
  border-radius: 1.4rem;
  color: white;
  font-weight: 500;
}


/* nav and banner section */
#bannerSection, nav {

    margin: 0 2rem;
}

ul li a{

     background-color: rgba(171, 159, 159, 0.145);
     padding: 0.6rem;
     border-radius: 100%;
     color: gray;
     border: 0.7px solid rgba(168, 158, 158, 0.245);
}

ul li :hover{

     background-color: #7ffaffa6;
}

#bannerSection {
 
  background-color: #12132D;
  background-image: url("../images/bgbanner.png");
  background-size: 100% 100%;
  
  
}

/* discussion section */

#discussionsContainer > div {

    gap: 1rem;
    text-align: left;
    background-color: #80808029;
    border-radius: 0.5rem;
    border: 2px solid #8080806d;
}

#imgContainer > img{

    width: 110px !important;
    height: 70px;
    border-radius: 0.6rem;
    
}

#imgContainer span{

      border: 2px solid #ffffff;
      display: inline-block;
      width: 14px;height: 14px;
      border-radius: 100%;
      position: absolute;
      top: -5px;
      right: -5px;
}

#markedDiscussionsContainer{
    
    text-align: left;
    background-color: #80808029;
    border-radius: 0.5rem;
    border: 2px solid #8080806d;
    
}


/* border-b border-dashed border-gray-500" */

#discussionsContainer hr{

      border: none;
      border-bottom: 0;
      border-bottom: 3px dashed #808080b9;
      margin: 0.6rem 0;
 
}



/* ========================== jQuary ====================== */

/* nav */

@media only screen and (max-width: 639px) {
  body {
    padding: 0 !important;
  }
  #bannerSection, nav {

    margin: 0;
}
 
  nav ul li {
    width: 100%;
    padding: 1.5rem 0;
    text-align: center;
  }
  nav ul li:hover {
    background-color: #f0cbcb;
  }
}
